.test-sct4-box{
  width: 100%;
  height: 700px;
  overflow-x: hidden;
  /* background-color: bisque; */
}

.sct4-title {
  width: 85%;
  /* height: 780px; */
  margin: auto;
  font-size: 40px;
  font-weight: 700;
  color: var(--darkblue3);
  margin-bottom: -20px;
}
.sct4-title.top {
  /* margin-top: -80px; */
  color: rgb(61, 61, 232);
}
.middle-section {
  width: 85%;
  height: 550px;
  margin: 50px auto 40px ;
  display: flex;
  flex-direction: row;
  position: relative;
  /* overflow-x: hidden; */
}
.middle-section img {
  position: relative;
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
  z-index: 1;
}
.honours-table{
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  height: 100%;
  background-color: white;
  padding-left: 20px;
  z-index: 999;
}

@media (max-width: 880px) {
  .test-sct4-box{
    padding-left: 0px;
    margin-left: 0px;
    overflow: hidden;
  }
  .middle-section{
    width: 94%;
    height: 600px;
  }
  .middle-section img {
    display: none;
  }
  .honours-table{
    width: 100%;
    padding-left: 0px;
  }
  .sct4-title {
    width: 94%;
    font-size: 34px;
  }
  .sct4-title.top{
    font-size: 26px;
  }
  .sct4-title {
    width: 94%;
    font-size: 26px;
  }
}
/* 
@media (max-width: 850px) {
  .middle-section{
    width: 97%;
  }
} */

@media (max-width: 780px) {
  .middle-section img {
    display: none;
  }
  .honours-table{
    width: 100%;
  }
  .sct4-title.top{
    font-size: 24px;
  }
  .sct4-title {
    width: 94%;
    font-size: 24px;
  }
}
