.containerSmlImg {
  display: grid;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
  /* padding-bottom: 20px; */
  /* background-color: aqua; */
}

.imgBox {
  overflow: hidden;
  display: inline-block;
  /* background-color: yellow; */
  border-radius: 15px;
}

.imgBox img {
  width: 100%;
  height: 100%;
  background-color: grey;
  border-radius: 15px;
  transform: scale(1, 1);
  transition: 1.5s;

  &:hover {
    transform: scale(1.05, 1.05);
  }
}

.title {
  color: var(--darkblue);
  font-size: 20px;
  /* font-size: max(1.6vw, 16px); */
  padding: 10px 10px 10px 0px;
  font-weight: 700;
}

.containerSmlImg:hover .title{
  transition: color 1s ease-in-out;
  color: blue;
}
.slide {
  display: none;
  background-color: red;
}


@media (max-width: 1350px) {
  .title{
    font-size: 18px;
  }
}

@media (max-width: 1180px) {
  .title{
    font-size: 16px;
    
  }
}

@media (max-width: 850px) {
  .title{
    font-size: 16px;
    
  }
}
@media (max-width: 650px) {
  .title{
    font-size: 16px;
    
  }
}
