.mainContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16vw, 1fr));
  gap: 3vw;
  margin: 0px 0px;
  /* width: 100%; */
  /* border-radius: 10px; */
}

.containerSmlImg {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* background-color: aqua; */
  border-radius: 10px;
}

.imgBox {
  overflow: hidden;
  display: inline-block;
  background-color: yellow;
  border-radius: 10px;
}

.imgBox img {
  width: 100%;
  height: 100%;
  background-color: grey;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: 1.5s;

  &:hover {
    transform: scale(1.05, 1.05);
  }
}

.title {
  color: var(--darkblue);
  font-size: max(1.6vw, 16px);
  padding: 10px 0px;
  font-weight: 500;
  /* overflow-y:visible */
}
.slide{
  display: none;
  background-color: red;
}

/* @media (max-width: 1050px) {
  .mainContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 2vw;
    margin: 50px 0px;
  }
} */
@media (max-width: 1050px) {
  .mainContainer {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr)); */
    /* overflow: scroll; */
    grid-template-columns:  250px 250px 250px 250px;
    gap: 3vw;
    margin: 0px;
  }
}
