.smallSection {
  width: 85%;
  margin: auto;
}

.mediumSection {
  width: 85%;
  margin: auto;
}
.medium2Section {
  width: 85%;
  margin: auto;
  margin-top: -30px;
}

@media (max-width: 1050px) {
  .smallSection {
    width: 100%;
    padding-left: 7%;
    overflow-x: hidden;
  }
  .mediumSection {
    width: 100%;
    padding-left: 7%;
    overflow-x: hidden;
  }
  .medium2Section {
    width: 100%;
    padding-left: 7%;
    overflow-x: hidden;
  }
}

@media (max-width: 850px) {
  .bisector {
    height: 9vh;
  }
  .smallSection {
    padding-left: 3%;
  }
  .mediumSection {
    padding-left: 3%;
  }
  .medium2Section {
    padding-left: 3%;
  }
}
