.smallSection {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: auto;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19vw, 1fr));
  align-items: center;
}

.arw-sd-btn{
  display: none;
}

.smallSection.sct1b{
  margin-top: -50px;
}
.smallSection.sct4{
  margin-top: 50px;
}

.mediumSection {
  width: 80%;
  margin: auto;
}
.medium2Section {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
}
.mediumSectionNext{
  width: 80%;
  height: 600px;
  margin: auto;
}

.section6-title.sct6 {
  width: 80%;
  margin: auto;
  padding: 0px 0px 40px 0px;
}
.section6-title {
  font-size: 40px;
  font-weight: 700;
  color: var(--darkblue3);
}
.section6-title-box {
  width: 80%;
  margin: auto;
  padding: 0px 0px 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1900px) {
  .smallSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    width: 85%;
    margin: auto;
  }

  .mediumSection {
    width: 85%;
    margin: auto;
  }
  .mediumSectionNext {
    width: 85%;
    margin: auto;
  }
  .medium2Section {
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  }
  .section6-title.sct6 {
    width: 85%;
    margin: auto;
    padding: 0px 0px 40px 0px;
  }
  .section6-title-box {
    width: 85%;
    margin: auto;
    padding: 60px 0px 40px 0px;
  }
}

@media (max-width: 1500px) {
  .smallSection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17vw, 1fr));
    width: 85%;
    margin: auto;
  }
}

@media (max-width: 1020px) {
  .smallSection {
    padding-left: 7%;
    padding-right: 7%;
    /* width: 85%; */
    /* margin: auto; */
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    width: 100%;
    overflow-x: hidden;
  }
  .arw-sd-btn{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-top: -55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(154, 151, 151)
  }
  .cnt-bt-bg-sds:hover .arw-sd-btn{ 
    background-color: var(--lightgray2);
    color: blue
    
  }
  .btns-ts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 60;
    z-index: 999;
  }
  
  .mediumSection {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    overflow-x: hidden;
  }
  .mediumSectionNext {
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    overflow-x: hidden;
  }
  .medium2Section {
    padding-left: 7%;
    padding-right: 7%;
    /* margin: auto; */
    display: grid;
    grid-template-columns: 400px 400px 400px;
    width: 100%;
    overflow-x: hidden;
  }
}

@media (max-width: 850px) {
  .bisector {
    height: 9vh;
  }
  .smallSection {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    /* overflow-x: hidden; */
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none /* Firefox */
  }
  .smallSection::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
  .mediumSection {
    padding-left: 3%;
    padding-right: 3%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none /* Firefox */
  }
  .mediumSectionNext {
    padding-left: 3%;
    padding-right: 3%;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none /* Firefox */
  }
  .medium2Section {
    padding-left: 3%;
    padding-right: 3%;
    grid-template-columns: 250px 250px 250px 250px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none /* Firefox */

  }

}

@media (max-width: 660px) {
  .smallSection {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    /* overflow-x: hidden; */
    
  }
 
}
