/* src/Modal.css */
.modal-overlay {
    position: fixed;
    top: 63px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(10, 0, 0, 0.7);

  }
  .modal-overlay.open{
    left: 200px;
    transition: left 0.9s ease;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    width: 50%;
    height: 100vh;
    z-index: 99999;
    transition: left 2.9s ease;
    /* max-width: 80%; */
  }
  .modal-content.open{
    left: 0;
  }
  
  .modal-close {
    /* z-index: 99999; */
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  