/* src/Modal.css */
.modal-overlay {
  position: fixed;
  top: 63px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(10, 0, 0, 0.7);
}

.modal-content {
  background: white;
  border-radius: 5px;
  position: fixed;
  width: 60%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.md-ct-nav-cnt {
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  height: 89vh;
}
.md-cnt-sct1 {
  display: none;
}
.md-cnt-sct3 {
  display: none;
}
.dropdown-menu{
  display: none;
}
.md-cnt-sct2{
  width: 130%;
  /* background-color: aqua; */
  padding: 60px 0px 0px 60px
}
.md-cnt-sct4{
  padding: 20px 0px 0px 60px
}

@media (max-width: 1580px) {
  .modal-content {
    width: 70%;
  }
}

@media (max-width: 1480px) {
  .modal-content {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .modal-content {
    width: 32%;
  }
  .md-ct-nav-cnt {
    flex-direction: column;
  }
  .md-cnt-sct1 {
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray2);
    padding: 40px 20px 10px 20px;
  }
  .md-cnt-sct2 {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 10px 20px;
    border-bottom: 1.5px solid var(--lightgray1);
  }
  .md-cnt-sct3 {
    display: flex;
    flex-direction: column;
    padding: 40px 20px 250px 20px;
    border-bottom: 1.5px solid var(--lightgray1);
  }
  .md-cnt-sct3 a:hover{
    text-decoration: underline;
    color: blue;
    transition: color 0.3s ease-in-out;
  }
  .md-cnt-sct4{
    position: fixed;
    bottom: 0;
    width: 32%;
    height: 150px;
    padding: 20px 20px 10px 20px;
    background-color: var(--lightgray1);
  }
  .md-cnt-dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
    z-index: 1;
  }

  .dropdown-menu.open {
    max-height: 650px; /* adjust based on your content's height */
  }

  
  .dropdown-item {
    padding-bottom: 25px;
    cursor: pointer;
    color: var(--darkblue1);
    font-size: 14px;
    /* font-weight: 400; */
  }
  
  .dropdown-item:hover {
    color: blue;
    transition: color 0.5s ease;
  }
}

@media (max-width: 880px) {
  .modal-content {
    width: 42%;
  }
  .md-cnt-sct4{
    width: 42%;
  }
}

@media (max-width: 780px) {
  .modal-content {
    width: 50%;
  }
  .md-cnt-sct4{
    width: 50%;
  }
}

@media (max-width: 680px) {
  .modal-content {
    width: 63%;
  }
  .md-cnt-sct4{
    width: 63%;
  }
}
