.tr-rc-cnt-main{
    padding: 0px 20px
}
.tr-rc-top{
    display: flex;
    flex-direction: row;
    height: 35px;
}
.tr-btn1-bx{
    width: 60%;
    background-color: var(--lightgray2);
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
}
.tr-btn2-bx{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bd-rc-cnt{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-between;
}
.bd-rc-left{
    width: 50%;
    background-color:aliceblue;
}
.bd-rc-left-item{
    margin-bottom: 30px;
}
.bd-rc-lf-tl{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bd-rc-lf-tl img{
    width: 40px;
    height: 40px;
}
.bd-rc-lf-num{
    font-size: 28px;
    font-weight: 600;
}
.bd-rc-title{
    margin-top: 4px;
    font-size: 11px;
    padding-right:20px;
    color: var(--darkblue1);
}
.bd-rc-progress{
    width: 100px;
    height: 3px;
    margin-top: 4px;
    background-color: blue;
}
.bd-rc-right{
    width: 50%;
    background-color:rgb(20, 167, 10);
}
@media (max-width: 880px) {
    .tr-btn1-bx{
        width: 100%;
    }
    .tr-btn2-bx{
        /* display: none; */
        position: absolute;
        bottom: 0;
        background-color: rgb(245, 108, 227);
        width: 100%;
        padding: 20px;
    }
   
    .tr-rc-cnt-main{
        padding: 0px;
    }
    .bd-rc-cnt{
        margin-top: 15px;
    }
    .bd-rc-left-item{
        margin-bottom: 25px;
    }
    .bd-rc-lf-tl img{
       display: block;
        /* width: 40px;
        height: 40px; */
    }
    .bd-rc-lf-num{
        font-size: 32px;
        font-weight: 600;
    }
    .bd-rc-title{
        margin-top: 4px;
        font-size: 12px;
        padding-right:20px;
        color: var(--darkblue1);
    }
  
}
  