.sponsors {
  text-align: center;
  padding-top: 50px;
  border-bottom: 1px solid var(--lightgray1);
}
.sponsors1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors1 img {
  width: 150px;
  height: 100px;
}
.sponsors2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
  flex-wrap: wrap;
  /* background-color: aqua; */
  margin: 30px auto 60px;
  gap: 20px;
}
.sponsors2 img {
  width: 80px;
  height: 80px;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding: 0px 0px 15px 25px;
}
.social img {
  display: block;
  width: 45px;
  height: 45px;
}
.socialBox a{
  padding-right: 35px;
}

@media (max-width: 1250px) {
  .sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    flex-wrap: wrap;
    /* background-color: aqua; */
    margin: 20px auto 0px;
    gap: 20px;
  }
  .sponsors2{
    width: 85%;
    gap: 35px;
  }
  .sponsors2 img {
    width: 75px;
    height: 75px;
  }
  .social img {
    display: none
  }
 
}
@media (max-width: 790px) {
  .sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    flex-wrap: wrap;
    /* background-color: aqua; */
    margin: 20px auto;
    gap:20px;
  }
  .sponsors1 img {
    width: 120px;
    height: 80px;
  }
  .sponsors2{
    /* width: 800px; */
    margin-bottom: 30px;
    /* gap: 18px; */
  }
  .sponsors2 img {
    width: 55px;
    height: 55px;
  }
  .socialBox a{
    /* width: 100%; */
    padding-right: 20px;
  }
  
}

@media(max-width: 650px){
  .sponsors2{
    /* width: 800px; */
    margin-bottom: 30px;
    gap: 18px;
  }
}

