@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

:root {
  --white: #ffffff;
  --lightgray1: #e1e5ea;
  --lightgray2: #f5f6f9;
  --lightgray3: #e1e4e9;
  --blue: blue;
  --darkblue: #2a4471;
  --darkblue1:rgb(32, 64, 109);
  --darkblue2: #3e31f4;
  --gray: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* background-color: aqua; */
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  /* width: 85%;
  margin: auto; */
  margin-top: 100px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .app {
    width: 90%;
  }
}